@model Restaurant.Models.Diner

<div class="content">
    <h2>Add a cuisine option to this diner</h2>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.DinerId)

        @Html.Label("Select a cuisine")
        @Html.DropDownList("CuisineId")
        <br />
        <input type="submit" value="Add" class="btn btn-green " />
    }

    @Html.ActionLink("Back to diners", "Index", "Diners", null, new { @class = "btn btn-blue " })
</div>