@using Restaurant.Models;

<div class="content">
    <h1>Search Results</h1>

    @if (Model.GetType() == typeof(List<Diner>))
    {
        @if (Model.Count == 0)
        {
            <h3>No songs match the search term.</h3>
        }

        <ul>
            @foreach (Diner diner in Model)
            {
                <li>@Html.ActionLink($"{diner.Name}", "Details", "Diners", new { id = diner.DinerId })</li>
            }
        </ul>
    }
    else
    {
        @if (Model.Count == 0)
        {
            <h3>No cuisines match the search term.</h3>
        }

        <ul>
            @foreach (Cuisine cuisine in Model)
            {
                <li>@Html.ActionLink($"{cuisine.Name}", "Details", "Cuisines", new { id = cuisine.CuisineId })</li>
            }
        </ul>
    }
</div>
